@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Sofia Sans", sans-serif;
}

p,
h1,
span,
a,
button {
  width: fit-content;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
